<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'orders/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Order List</h1>
        <ul class="list-group">
            {% for order in orders %}
                <li class="list-group-item">
                    <a href="{% url 'order_detail' order.id %}">Order #{{ order.id }}</a> by {{ order.customer_name }}
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'index' %}" class="btn btn-link mt-3">Back to Home</a>
    </div>
</body>
</html>
